.item {
    border-radius: 5px;
    border: 1px solid rgb(69,69,69);
}

.item .title {
    padding: 10px 5px;
}

.item .resource {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.item .resource img {
    width: 100%;
}

.item .buy {
    padding: 10px;
    line-height: 40px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.item .buy > div:nth-of-type(1) {
    flex-grow: 1;
}